{
  "names": [
    {"mode": "alts"},
    [
      {"mode": "serie"},
      [
        {"mode": "alts"},
        "Aker",
        "Akil",
        "Alister",
        "Altan",
        "Alvan",
        "Amon",
        "Amurr",
        "Anders",
        "Anvar",
        "Apollo",
        "Archie",
        "Arden",
        "Argun",
        "Armin",
        "Arnoldo",
        "Artyom",
        "Ash",
        "Asil",
        "Aslan",
        "Atal",
        "Axel",
        "Bardo",
        "Bari",
        "Barnie",
        "Barsik",
        "Baylor",
        "Beast",
        "Begemot",
        "Berlioz",
        "Bingo",
        "Bjorn",
        "Blizzard",
        "Blob",
        "Bob",
        "Bonbon",
        "Bones",
        "Boon",
        "Bosco",
        "Boyband",
        "Braham",
        "Braith",
        "Bruno",
        "Buka",
        "Bulava",
        "Buyan",
        "Byron",
        "Cabal",
        "Cactus",
        "Cailin",
        "Calian",
        "Callahan",
        "Callisto",
        "Callum",
        "Carlo",
        "Carroll",
        "Casper",
        "Catrick",
        "Chalky",
        "Chaos",
        "Chester",
        "Camden",
        "Camilo",
        "Carmelo",
        "Cattori",
        "Cecil",
        "Cerny",
        "Charlie",
        "Cheddar",
        "Chip",
        "Church",
        "Chuvak",
        "Claw",
        "Clay",
        "Cloud",
        "Clyde",
        "Cody",
        "Cooper",
        "Coque",
        "Coté",
        "Cordero",
        "Crispin",
        "Cyn",
        "Cyril",
        "Cyrus",
        "Dale",
        "Danil",
        "Dart",
        "Dewey",
        "Dhin",
        "Dong",
        "Dream",
        "Dusk",
        "Eamon",
        "Echo",
        "Edmund",
        "Egon",
        "Eytan",
        "Ervin",
        "Esteban",
        "Fang",
        "Faust",
        "Felix",
        "Fennix",
        "Finn",
        "Fisk",
        "Flake",
        "Flare",
        "Flint",
        "Flood",
        "Floppa",
        "Froim",
        "Frou",
        "Frost",
        "Funtik",
        "Gato",
        "Gav",
        "Gene",
        "Gerd",
        "Ghost",
        "Glow",
        "Goop",
        "Groucho",
        "Gunnar",
        "Hail",
        "Halvar",
        "Hamlet",
        "Hanai",
        "Hidalgo",
        "Hideo",
        "Hikari",
        "Hilo",
        "Hioshi",
        "Hiro",
        "Hiroki",
        "Hiroshi",
        "Horacio",
        "Horatio",
        "Hugo",
        "Hun",
        "Hungry",
        "Husbando",
        "Ike",
        "Inaki",
        "Ingram",
        "Jacko",
        "Jaq",
        "Jay",
        "Jinn",
        "Jonesy",
        "Jorge",
        "Jorgen",
        "Jose",
        "Julian",
        "Kai",
        "Kalin",
        "Kalter",
        "Kanoa",
        "Karan",
        "Kari",
        "Keegan",
        "Kellin",
        "Keoni",
        "Khan",
        "Kifaru",
        "Kiril",
        "Kitt",
        "Knud",
        "Kofi",
        "Koshak",
        "Kosta",
        "Kryzh",
        "Kunio",
        "Kuro",
        "Kurt",
        "Kyle",
        "Kylen",
        "Kyo",
        "Lazlo",
        "Lem",
        "Leo",
        "Leopold",
        "Lex",
        "Liam",
        "Liard",
        "Light",
        "Lim",
        "Lir",
        "Loke",
        "Lou",
        "Luc",
        "Lucas",
        "Lucian",
        "Lucky",
        "Luigi",
        "Luigi",
        "Luke",
        "Lupo",
        "Martin",
        "Masaru",
        "Matroskin",
        "Merlin",
        "Mert",
        "Metal",
        "Milo",
        "Mist",
        "Mitul",
        "Monsoon",
        "Murray",
        "Muscat",
        "Musti",
        "Muzhik",
        "Nate",
        "Neal",
        "Ned",
        "Nemoi",
        "Nero",
        "Niaran",
        "Nicklas",
        "Night",
        "Noch",
        "Noir",
        "Noisy",
        "Nom",
        "Nope",
        "Nuo",
        "Oban",
        "Obsidian",
        "Oddvar",
        "Olaf",
        "Oleg",
        "Oliver",
        "Orangey",
        "Oreo",
        "Pavel",
        "Peppo",
        "Perrault",
        "Perry",
        "Piero",
        "Pluto",
        "Prowl",
        "Pumba",
        "Purrcival",
        "Purrito",
        "Purrloin",
        "Purry",
        "Puss",
        "Quark",
        "Queso",
        "Quint",
        "Rain",
        "Raphael",
        "Rhys",
        "Rian",
        "Rico",
        "River",
        "Rocco",
        "Rock",
        "Rocket",
        "Rollo",
        "Saber",
        "Salem",
        "Salt",
        "Scar",
        "Seriy",
        "Seth",
        "Silvan",
        "Simba",
        "Skip",
        "Song",
        "Shadow",
        "Shell",
        "Sherman",
        "Shu",
        "Silver",
        "Scoop",
        "Skuf",
        "Sky",
        "Slash",
        "Slate",
        "Snow",
        "Soni",
        "Soren",
        "Spark",
        "Spirit",
        "Splash",
        "Star",
        "Stas",
        "Steel",
        "Stepan",
        "Stinger",
        "Storm",
        "Stray",
        "Strike",
        "Stripes",
        "Sune",
        "Sven",
        "Tabby",
        "Talon",
        "Tamu",
        "Tanner",
        "Teon",
        "Terrwyn",
        "Terry",
        "Theo",
        "Thirsty",
        "Thomas",
        "Thor",
        "Thorn",
        "Thunder",
        "Tim",
        "Tom",
        "Tonto",
        "Tooth",
        "Torben",
        "Trav",
        "Ulysses",
        "Unomas",
        "Urian",
        "Varian",
        "Vasya",
        "Von",
        "Whiskers",
        "Wild",
        "Wing",
        "Ximun",
        "Xuan",
        "York",
        "Yuli",
        "Yves",
        "Zac",
        "Zaru",
        "Zosch"
      ]
    ]
  ]
}
