{
  "names": [
    {"mode": "alts"},
    [
      {"mode": "serie"},
      [
        {"mode": "alts"},
        "Ailee",
        "Akira",
        "Alani",
        "Alice",
        "Alina",
        "Alisa",
        "Amber",
        "Amélie",
        "Aneira",
        "Angel",
        "Angelina",
        "Angy",
        "Ankha",
        "Annie",
        "Anya",
        "April",
        "Ari",
        "Aria",
        "Ariel",
        "Arina",
        "Arya",
        "Aurora",
        "Bagira",
        "Bambi",
        "Bappi",
        "Bastet",
        "Becky",
        "Belka",
        "Bell",
        "Bella",
        "Belle",
        "Belly",
        "Berry",
        "Bianca",
        "Biscuit",
        "Bitey",
        "Blossom",
        "Bobbie",
        "Bonnie",
        "Boops",
        "Bubbles",
        "Buffy",
        "Buttercup",
        "Buttons",
        "Cakes",
        "Calley",
        "Callista",
        "Candy",
        "Cara",
        "Caramel",
        "Carrie",
        "Cassie",
        "Catnip",
        "Charlotte",
        "Chelsea",
        "Cherry",
        "Chloe",
        "Christie",
        "Cira",
        "Cleo",
        "Cocoa",
        "Colette",
        "Cookie",
        "Cream",
        "Crystal",
        "Curry",
        "Cynna",
        "Daisy",
        "Dana",
        "Dasha",
        "Dawn",
        "Demi",
        "Diane",
        "Dina",
        "Dixie",
        "Dori",
        "Dovey",
        "Dusky",
        "Dyna",
        "Elara",
        "Ellie",
        "Elsa",
        "Elvira",
        "Emi",
        "Emily",
        "Eureka",
        "Eva",
        "Evie",
        "Fanny",
        "Fanta",
        "Fela",
        "Felicia",
        "Felicity",
        "Fidget",
        "Fleur",
        "Flopsy",
        "Flower",
        "Fluff",
        "Freckles",
        "Fuffy",
        "Gadget",
        "Gaika",
        "Gala",
        "Giggles",
        "Glitter",
        "Glory",
        "Glowy",
        "Hailey",
        "Hammy",
        "Hazel",
        "Heidi",
        "Hissy",
        "Holly",
        "Hola",
        "Honey",
        "Hope",
        "Hungry",
        "Icky",
        "Inara",
        "Itsy",
        "Itty",
        "Ivy",
        "Izzy",
        "Jackie",
        "Jasmine",
        "Jelly",
        "Jenny",
        "Jessy",
        "Joana",
        "Josie",
        "Joy",
        "Judy",
        "Julie",
        "June",
        "Kaia",
        "Kajsa",
        "Kaley",
        "Kali",
        "Karelia",
        "Kari",
        "Karma",
        "Kasa",
        "Kathy",
        "Katia",
        "Katty",
        "Kayu",
        "Keiko",
        "Kia",
        "Kimble",
        "Kinga",
        "Kira",
        "Kisa",
        "Kitkat",
        "Kiwi",
        "Kleio",
        "Kora",
        "Kusia",
        "Lacey",
        "Laima",
        "Lani",
        "Lara",
        "Larcie",
        "Laska",
        "Laurie",
        "Laylay",
        "Leah",
        "Leila",
        "Lekki",
        "Licky",
        "Lilly",
        "Lina",
        "Lisa",
        "Liz",
        "Lizzie",
        "Lockie",
        "Lola",
        "Loonie",
        "Lotus",
        "Loulou",
        "Lovey",
        "Lucy",
        "Lucienne",
        "Lucky",
        "Lulu",
        "Luna",
        "Lunetta",
        "Lyra",
        "Mae",
        "Mai",
        "Maisy",
        "Mala",
        "Malinka",
        "Mango",
        "Marlene",
        "Maru",
        "Marusia",
        "Mary",
        "Masha",
        "May",
        "Maya",
        "Melody",
        "Metla",
        "Mew",
        "Mia",
        "Mica",
        "Mila",
        "Milani",
        "Milashka",
        "Miley",
        "Milka",
        "Milky",
        "Millie",
        "Mina",
        "Minky",
        "Minou",
        "Minty",
        "Mira",
        "Miranda",
        "Missy",
        "Misty",
        "Mittens",
        "Molly",
        "Muffet",
        "Muffins",
        "Munchkin",
        "Murka",
        "Murrietta",
        "Murrlene",
        "Musa",
        "Mya",
        "Myra",
        "Nala",
        "Nalu",
        "Nana",
        "Nastya",
        "Nat",
        "Natalie",
        "Neena",
        "Nelly",
        "Nessie",
        "Nicky",
        "Nika",
        "Nikita",
        "Noisy",
        "Noffy",
        "Nomchie",
        "Nona",
        "Noodle",
        "Nora",
        "Nosey",
        "Nura",
        "Nuzzles",
        "Olya",
        "Onyx",
        "Opal",
        "Oranges",
        "Ossia",
        "Pacey",
        "Pam",
        "Pandy",
        "Pari",
        "Patsy",
        "Paulie",
        "Paws",
        "Peach",
        "Peaches",
        "Pearl",
        "Pebbles",
        "Penny",
        "Pepper",
        "Perky",
        "Petal",
        "Petals",
        "Pia",
        "Pica",
        "Pickles",
        "Pixel",
        "Pixie",
        "Plucky",
        "Plusha",
        "Polly",
        "Poppy",
        "Prissy",
        "Purdy",
        "Purranha",
        "Purrity",
        "Purry",
        "Ricka",
        "Riley",
        "Rey",
        "Remi",
        "Romey",
        "Rosey",
        "Roxie",
        "Roxy",
        "Ruby",
        "Ruffles",
        "Sansa",
        "Sandy",
        "Sasha",
        "Sassy",
        "Selena",
        "Shani",
        "Shu",
        "Sia",
        "Silky",
        "Siren",
        "Skittles",
        "Skye",
        "Sonya",
        "Sophie",
        "Sneezy",
        "Snooki",
        "Snookums",
        "Snowy",
        "Sparkles",
        "Spiffy",
        "Spirit",
        "Spots",
        "Stella",
        "Strelka",
        "Sunny",
        "Susie",
        "Sweetie",
        "Sweetpea",
        "Tanya",
        "Tara",
        "Tash",
        "Tasi",
        "Teeny",
        "Tess",
        "Thirsty",
        "Thomasina",
        "Tiara",
        "Tickles",
        "Tilly",
        "Tina",
        "Tinkles",
        "Toffy",
        "Triscuit",
        "Trish",
        "Trudy",
        "Twinkle",
        "Vanilla",
        "Velvet",
        "Vesnushka",
        "Violet",
        "Vickie",
        "Vivi",
        "Wanda",
        "Winks",
        "Wisti",
        "Xena",
        "Yuki",
        "Yulia",
        "Zari",
        "Zarya",
        "Zena",
        "Zoe",
        "Zukie"
      ]
    ]
  ]
}
