{
  "filter": [],
  "titleFromEntity": true,
  "requiresBlueprint": true,
  "craftingSound": "/sfx/interface/crafting_wheel.ogg",
  "paneLayout": {
    "background": {
      "type": "background",
      "fileHeader": "/interface/crafting/nekiheader.png",
      "fileBody": "/interface/crafting/nekiwheelbody.png",
      "fileFooter": "/interface/crafting/nekifooter.png"
    },

// Top

    "windowtitle": {
      "type": "title",
      "title": "NEKI WHEEL",
      "subtitle": "Apparel and furnishings",
      "position": [-5, 252],
      "icon": {
        "type": "image",
        "file": "/interface/crafting/nekiwheel.png",
        "position": [0, -20],
        "zlevel": -1
      }
    },
    "close": {
      "type": "button",
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "pressed": "/interface/xpress.png",
      "pressedOffset": [0, 0],
      "position": [327, 335]
    },
    "lblSchematics": {
      "type": "label",
      "position": [102, 318],
      "hAnchor": "mid",
      "value": "BLUEPRINTS"
    },
    "lblProducttitle": {
      "type": "label",
      "position": [271, 318],
      "hAnchor": "mid",
      "value": "PRODUCT"
    },
    "bgShine": {
      "type": "image",
      "file": "/interface/crafting/nekishinepaws.png",
      "position": [202, 35],
      "zlevel": -10
    },

// Tab sidebar

    "categories": {
      "type": "radioGroup",
      "position": [7, 298],
      "baseImage": "/interface/crafting/nekiempty.png:1",
      "baseImageChecked": "/interface/crafting/nekiempty.png:2",
      "toggleMode": false,
      "buttons": [
        {
          "selected": true,
          "position": [0, -1],
          "image": "/interface/crafting/tabicon_nekilegs.png",
          "data": {
            "filter": ["nekilegs"]
          }
        },
        {
          "position": [0, -21],
          "image": "/interface/crafting/tabicon_nekimodular.png",
          "data": {
            "filter": ["nekimodular"]
          }
        },
        {
          "position": [0, -41],
          "image": "/interface/crafting/tabicon_nekichest.png",
          "data": {
            "filter": ["nekichest"]
          }
        },
        {
          "position": [0, -61],
          "image": "/interface/crafting/tabicon_nekiback.png",
          "data": {
            "filter": ["nekiback"]
          }
        },
        {
          "position": [0, -81],
          "image": "/interface/crafting/tabicon_nekihead.png",
          "data": {
            "filter": ["nekihead"]
          }
        },
        {
          "position": [0, -101],
          "image": "/items/throwables/waterballoonicon.png",
          "data": {
            "filter": ["nekipu"]
          }
        },
        {
          "position": [0, -121],
          "image": "/interface/crafting/tabicon_nekifurnishing.png",
          "data": {
            "filter": ["furnishing"]
          }
        },
        {
          "position": [0, -141],
          "image": "/interface/crafting/tabicon_nekilegacyclothes.png",
          "data": {
            "filter": ["nekilegacyclothes"]
          }
        }
      ]
    },

// Recipe list

    "scrollArea": {
      "type": "scrollArea",
      "rect": [28, 68, 196, 316],
      "children": {
        "itemList": {
          "type": "list",
          "schema": {
            "selectedBG": "/interface/crafting/nekicraftableselected.png",
            "unselectedBG": "/interface/crafting/craftablebackground.png",
            "spacing": [0, 1],
            "memberSize": [159, 20],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/interface/crafting/craftablebackground.png",
                "position": [2, 0],
                "zlevel": -1
              },
              "itemName": {
                "type": "label",
                "position": [25, 5],
                "hAnchor": "left",
                "wrapWidth": 116,
                "value": "Replace Me"
              },
              "itemIcon": {
                "type": "itemslot",
                "position": [3, 1],
                "callback": "null"
              },
              "newIcon": {
                "type": "image",
                "position": [119, 5],
                "file": "/interface/crafting/new.png",
                "zlevel": 2
              },
              "moneyIcon": {
                "type": "image",
                "position": [122, 1],
                "file": "/interface/money.png"
              },
              "priceLabel": {
                "type": "label",
                "position": [134, 1],
                "hAnchor": "left",
                "value": "0"
              },
              "notcraftableoverlay": {
                "type": "image",
                "file": "/interface/crafting/notcraftableoverlay.png",
                "position": [2, 0],
                "zlevel": 1
              }
            }
          }
        }
      }
    },

// Item description

    "description": {
      "type": "widget",
      "position": [196, 125],
      "size": [140, 210]
    },

// Recipe list bottom panel

    "filter": {
      "type": "textbox",
      "position": [33, 58],
      "hint": "Search =^.^=",
      "maxWidth": 155,
      "escapeKey": "close",
      "enterKey": "filter",
      "focus": false
    },
    "lblProduct": {
      "type": "label",
      "position": [33, 47],
      "hAnchor": "left",
      "vAnchor": "mid",
      "value": "MATERIALS AVAILABLE"
    },
    "btnFilterHaveMaterials": {
      "type": "button",
      "base": "/interface/crafting/nekisliderbutton.png:off",
      "baseImageChecked": "/interface/crafting/nekisliderbutton.png:on",
      "hover": "/interface/crafting/nekisliderbutton.png:offH",
      "hoverImageChecked": "/interface/crafting/nekisliderbutton.png:onH",
      "checkable": true,
      "checked": false,
      "position": [171, 43]
    },

// Rarity and price

    "rarities": {
      "type": "radioGroup",
      "toggleMode": true,
      "buttons": []
    },

// Craft panel

    "imgCraftBg": {
      "type": "image",
      "file": "/interface/crafting/nekicraftbg.png",
  //  "position": [201, 129],
      "position": [201, 36],
      "zlevel": -5
    },
    "currentRecipeIcon": {
      "type": "itemslot",
      "callback": "null",
  //  "position": [203, 131]
      "position": [203, 38]
    },
    "spinCount": {
      "type": "spinner",
  //  "position": [227, 136],
      "position": [227, 43],
      "upOffset": 40
    },
    "tbSpinCount": {
      "type": "textbox",
  //  "position": [240, 136],
      "position": [240, 43],
      "textAlign": "center",
      "maxWidth": 16,
      "regex": "x?\\d{0,4}",
      "hint": ""
    },
    "imgAmountInput": {
      "type": "image",
      "file": "/interface/crafting/amount.png",
  //  "position": [235, 135],
      "position": [235, 42],
      "zlevel": -3
    },
    "btnCraft": {
      "type": "button",
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
  //  "position": [280, 133],
      "position": [280, 40],
      "caption": "Craft"
    },
    "btnStopCraft": {
      "type": "button",
      "base": "/interface/buttonactive.png",
      "hover": "/interface/buttonactivehover.png",
  //  "position": [280, 133],
      "position": [280, 40],
      "caption": "Stop"
    }
  }
}
